@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Empréstimos Online</h1>
    <p>Um livro é um sonho que você segura na mão! </p>
    <div>
        <img src="/img/book.png"/>
    </div>
</div>
